* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin sans';
    font-family: 'Josefin Sans', sans-serif;
    color: #4A5568;
}

.side-bar-wrapper {
    background: #062863;
}

.main {
    padding-left: 40px;
    padding-top: 70px;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}

label {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
}

.input {
    display: block;
    width: 280px;
    height: 32px;
    border: none;
    background: #E8F0FE;
    border-radius: 3px;
}

/* 
 *  remove arrows for principal input
 *  not needed if input[type=text]
*/

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.form-wrapper {
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 0px;
    padding: 20px 30px;
}

.results {
    border-top: 1px solid #E5E5E5;
    /* border-top-right-radius: ; */
}

.btn {
    display: block;
    width: 20%;
    height: 32px;
    /* margin: 0 20%; */
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    background: #0D60D8;
    border-radius: 5px 5px 5px 0px;
    /* float: right; */
    /* clear: left; */
}

.btn:hover {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}